<div class="column">
<div class="item-wrapper">
<div class="img-wrapper">
  <a href="#"><img src="http://placehold.it/300x400" /></a>
</div>
<a class="js-property-link" target="_blank" href="#"><h3 class="js-address-line-1">1829 N Hampton Dr</h3></a>
<p class="js-address-line-2">3 Bedroom Ranch</p>
</div>
</div>
