<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns" id="margtop">
    <div class="row column log-in-form"  id="formpad">
<h4 class="text-center">Edit the Property</h4>

<%= render 'form' %>

<%= link_to 'Show Property', @property %> 
</div>
</div>
</div>
