<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns" id="margtop">
    <div class="row column log-in-form"  id="formpad">
<h4 class="text-center">Register a new Property</h4>

<%= render 'form' %>

<%= link_to 'Back', properties_path %>
