.rental{
    background: url(../images/house_full.jpg)no-repeat center top;
    height: 400px;
    margin-bottom: 50px;
}
.fieldmargbtm{
    margin-bottom: 10px;
}
.marg40top{
    margin-top: 40px;
}
