<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns" id="margtop">
    <%= form_tag user_sessions_path, :method => :post do %>
      <div class="row column log-in-form"  id="formpad">
        <h4 class="text-center">Log in with you email account</h4>
        <label>Email
          <%= text_field_tag :email, nil, placeholder: "somebody@example.com" %>
        </label>
        <label>Password
          <%= password_field_tag :password %>
        </label>
        <p><a type="submit" class="button expanded">Log In</a></p>
      </div>
    <% end %>
    </div>
    </div>
