<div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row">
  <div class="large-8 medium-10 small-11 small-centered medium-centered columns">
    <%= form_tag user_sessions_path, :method => :post do %>
      <div class="row column log-in-form"  id="formpad">
        <h4 class="text-center">Log in with you email account</h4>
        <label>Email
          <%= text_field_tag :email, nil, placeholder: "somebody@example.com" %>
        </label>
        <label>Password
          <%= password_field_tag :password %>
        </label>
        <p><%= submit_tag "Log In", class: "button expanded" %></p>
      </div>
    <% end %>
    </div>
  </div>
</div>